/* Artikkler */

.artikkel {
    width: 100%;
    position: relative;
    top: 100px; 

    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: center;
    opacity: 0.5;   
    background-size: cover;
    background-position: center center; 
}

.artikkel:hover{
    opacity: 1;
}

.artikkel.del_to {
    margin-top: -300px; 
}

.artikkel.en {
    background-image: url(images/artikkel1.jpg);
    box-shadow: 0 6px 8px rgb(22, 22, 22);
    width: 340px;
    height: 400px; 
    margin: 20px; 
    position: relative;
}


.artikkel.to {
    background-image: url(images/artikkel2.jpg); 
    box-shadow: 0 6px 8px rgb(22, 22, 22);
    width: 360px;
    height: 600px; 
    margin: 20px; 
}

.artikkel.tre { 
    background-image: url(images/artikkel3.png);
    background-position: left;
    box-shadow: 0 6px 8px rgb(22, 22, 22); 
    width: 370px;
    height: 500px; 
    margin: 20px; 
}


.artikkel.fire  {
    background-image: url(images/artikkel4.jpg); 
    box-shadow: 0 6px 8px rgb(22, 22, 22);
    width: 340px;
    height: 600px; 
    margin: 20px; 
    position: relative;
    top: -100px; 
}

.artikkel.fem {
    background-image: url(images/artikkel5.jpg); 
    box-shadow: 0 6px 8px rgb(22, 22, 22);
    width: 360px;
    height: 400px; 
    margin: 20px; 
}

.artikkel.seks  {
    background-image: url(images/artikkel6.svg); 
    box-shadow: 0 6px 8px rgb(22, 22, 22);
    width: 370px;
    height: 500px; 
    margin: 20px; 
    position: relative;
    top: 0; 
}

.artikkel.sju {
    background-image: url(images/artikkel7.jpg); 
    box-shadow: 0 6px 8px rgb(22, 22, 22);
    width: 340px;
    height: 400px; 
    margin: 20px; 
    position: relative;
}

.artikkel.åtte {
    background-image: url(images/artikkel8.svg); 
    box-shadow: 0 6px 8px rgb(22, 22, 22);
    width: 360px;
    height: 600px; 
    margin: 20px; 
}

.artikkel.ni {
    background-image: url(images/artikkel9.jpeg); 
    box-shadow: 0 6px 8px rgb(22, 22, 22);
    width: 370px;
    height: 500px; 
    margin: 20px; 
}

.artikkel.ti {
    background-image: url(images/artikkel10.png); 
    background-position: top;
    box-shadow: 0 6px 8px rgb(22, 22, 22);
    width: 340px;
    height: 600px; 
    margin: 20px; 
    position: relative;
    top: -100px; 
}

.artikkel.ellve {
    background-image: url(images/artikkel11.jpg); 
    box-shadow: 0 6px 8px rgb(22, 22, 22);
    width: 360px;
    height: 400px; 
    margin: 20px; 
}

.artikkel.tolv {
    background-image: url(images/artikkel12.png); 
    box-shadow: 0 6px 8px rgb(22, 22, 22);
    width: 370px;
    height: 500px; 
    margin: 20px; 
    position: relative;
    top: 0; 
}


.artikkel p {
    width: 100%; 
    height: 80px; 
    position: absolute; 
    left: 0;
    right: 0;
    bottom: -16px;

    text-decoration: none; 
    color: white;  
    visibility: hidden; 
    background-color: rgba(34, 34, 34, 0.658); 
    padding-top: 30px; 
}

.artikkel.en:hover p, 
.artikkel.to:hover p, 
.artikkel.tre:hover p, 
.artikkel.fire:hover p , 
.artikkel.fem:hover p , 
.artikkel.seks:hover p ,
.artikkel.sju:hover p,
.artikkel.åtte:hover p,
.artikkel.ni:hover p,
.artikkel.ti:hover p, 
.artikkel.ellve:hover p,
.artikkel.tolv:hover p      {
    visibility: visible; 
} 

.corner {
    position: absolute;
    left: 0; 
    width: 0;
    height: 0;
    z-index: 1000;
    border-style: solid;
    border-width: 35px 35px 0 0;
}

.marker_html {
    border-color: #ed612c transparent transparent transparent;
 }

.marker_css {
    border-color: #00adf6 transparent transparent transparent;
 }

.marker_js {
    border-color: #f0b24b transparent transparent transparent;
 }

/* Repsonsiv */

@media screen and (max-width: 1200px) {
    .artikkel {  
        margin: 1% 0 1% 0%;
    }
    .artikkel.en,
    .artikkel.to,
    .artikkel.tre,
    .artikkel.fire,
    .artikkel.fem,
    .artikkel.seks,
    .artikkel.sju,
    .artikkel.åtte,
    .artikkel.ni,
    .artikkel.ti,
    .artikkel.ellve,
    .artikkel.tolv {
        width: 300px;
        height: 400px;
    }

    .artikkel.fire, .artikkel.ti {
        top: 100px;
    }


    .artikkel.seks, .artikkel.tolv{
        top: 100px;
    }

    .artikkel.del_to {
        margin-top: -100px; 
    }
}

@media screen and (max-width:1100px) {
    .artikkel.en,
    .artikkel.to,
    .artikkel.tre,
    .artikkel.fire,
    .artikkel.fem,
    .artikkel.seks,
    .artikkel.sju,
    .artikkel.åtte,
    .artikkel.ni,
    .artikkel.ti,
    .artikkel.ellve,
    .artikkel.tolv {
        width: 350px;
        height: 300px;
    }
}

@media screen and (max-width:780px) {
    .artikkel {
        opacity: 1; 
    }

    .artikkel p {
        visibility: visible; 
    }

    .artikkel.en,
    .artikkel.to,
    .artikkel.tre,
    .artikkel.fire,
    .artikkel.fem,
    .artikkel.seks,
    .artikkel.sju,
    .artikkel.åtte,
    .artikkel.ni,
    .artikkel.ti,
    .artikkel.ellve,
    .artikkel.tolv {
        width: 600px;
        height: 300px;
    }
}

@media screen and (max-width:768px) {


    .btn.h{
        background-color: #ed612c; 
    }
    
    .btn.c{
        background-color: #00adf6; 
    }
    
    .btn.j{
        background-color: #f0b24b; 
    }
    
}

@media screen and (max-width:375px) {
    .artikkel {
        top: 80px; 
    }
}